apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask
  namespace: pra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
        - name: flask
          image: pra/flask-sqlite:1.0
          imagePullPolicy: IfNotPresent
          env:
            - name: DB_PATH
              value: /data/app.db
          ports:
            - containerPort: 8080
          command: ["/bin/sh","-lc"]
          args:
            - |
              cd /opt/app && gunicorn -w 2 -b 0.0.0.0:8080 app:app
          volumeMounts:
            - name: data
              mountPath: /data
            - name: backup
              mountPath: /backup
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: pra-data
        - name: backup
          persistentVolumeClaim:
            claimName: pra-backup
